
*.vsidx
.vs/Launcher/v17/.suo
.vs/Launcher/FileContentIndex/291d87cf-48e9-4e8e-be6f-5073f2c7b64d.vsidx
.vs/Launcher/v17/Browse.VC.db
*.ipch
*.obj
Debug/Launcher.ilk
*.ipch
.vs/Launcher/v17/Browse.VC.db
*.tlog
Debug/Launcher.log
Win32/Debug/Launcher.exe
Win32/Debug/Launcher.pdb
Debug/vc143.idb
Debug/Launcher.res
Debug/Launcher.exe.recipe
Debug/vc143.pdb
.vs/Launcher/v17/Browse.VC.db
.vs/Launcher/v17/ipch/AutoPCH/4f368b02874a55e6/LAUNCHERENGINE.ipch
.vs/Launcher/v17/.suo
.vs/Launcher/FileContentIndex/291d87cf-48e9-4e8e-be6f-5073f2c7b64d.vsidx
.vs/Launcher/v17/.suo
.vs/Launcher/v17/Browse.VC.db
*.ipch
*.ipch
*.lock
*.lock
*.png
*.log
